*{margin:0;padding:0;box-sizing:border-box}
body{background-color:#24292e}
h1, h2, h3, a, .links{text-align:center;margin:30px;font-family:sans-serif;color:#fff}
a{margin:0 5px}
.sc{max-width:400px;position:relative;margin:auto}
.si{transition:opacity 2s;position:absolute;width:400px;height:671px;background-image:url("../img/x.gif")}
.a1{background-image:url("../img/grain-app-1.png")}