@font-face {
    font-family:"Quicksand";
    src:url("../fonts/quicksand.woff2") format('woff2');
    font-display:block;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Quicksand";
    color:#fff;
}

body{
    background-color:#24292e;
    padding:10px;
    max-width:1024px;
    margin:0 auto;
}

h1, h2, h3, .links{
    text-align:center;
    margin:30px;
}

/* Slideshow and text sections */
@media screen and (min-width: 1024px){
    .section {
        display: flex;
    }    
}
.slideshow-container{
    margin:0 auto;
    max-width:400px;
    flex: 0 1 42%;
    height:160vw;
    max-height:750px;
    background-size:contain;
    background-repeat:no-repeat;
    transition: background-image 1s ease-in-out;
    transition-delay:3s;
}
.section-content{
    text-align:left;
    flex: 1;
    margin:30px;
}
.section-content h2{
    margin:0 0 30px;
    text-align:left;
}
