@font-face {
    font-family:"Quicksand";
    src:url("../fonts/quicksand.woff2") format('woff2');
    font-display:block;
}

*{
    user-select:none;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Quicksand";
    color:#fff;
}

body{
    background-color:#24292e;
    padding:30px;
    max-width:1024px;
    margin:0 auto;
}

h1, h2, h3, h4, .links{
    text-align:center;
    margin:30px;
}

.links img {
    height:20px;
    margin:10px 30px;
}

a{
    text-decoration: none;
    color: #aaa;
}

/* Slideshow and text sections */
@media screen and (min-width: 900px){
    .section {
        display: flex;
    }
    .section-content{
        margin-left:30px!important;
    }
}
@media screen and (max-width: 900px){
    .slideshow-container{
        margin-bottom:20px!important;
    }
}
.header{
    margin:100px 0;
}
.section{
    margin-bottom:60px;
}
.slideshow-container{
    margin:auto;
    max-width:375px;
    flex: 0 1 42%;
    height:160vw;
    max-height:375px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
    transition-delay:3s;
}
.section-content{
    text-align:left;
    flex: 1;
    margin:auto;
}
.section h2, .section h3, .subtitle{
    margin:0;
    text-align:left;
}